<!-- ROUTING ASSIGNMENT -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
    <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Home</a></li>
	<li role="presentation" routerLinkActive="active"><a routerLink="/servers">Servers</a></li>
	<li role="presentation" routerLinkActive="active"><a [routerLink]="['/users']">Users</a></li>
	<li role="presentation" routerLinkActive="active"><a [routerLink]="['/observables']">Observables</a></li>
	<li role="presentation" routerLinkActive="active"><a [routerLink]="['/signup']">Signup</a></li>
	<li role="presentation" routerLinkActive="active"><a [routerLink]="['/reactive']">Reactive</a></li>

      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



  <!-- SERVICES ASSIGNMENT -->
<!-- <div class="container">
  <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <app-active-users></app-active-users>
        <app-inactive-users></app-inactive-users>
      </div>
      [users]="activeUsers"
      (userSetToInactive)="onSetToInactive($event)"
      [users]="inactiveUsers"
          (userSetToActive)="onSetToActive($event)"
    </div>
</div> -->

  <!-- DATA BINDING AND DIRECTIVES -->
<!-- <div class="container">
	<app-cockpit
	(srvCreated)="onServerAdded($event)"
	(bpCreated)="onBlueprintAdded($event)"
	></app-cockpit>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<app-server-element
			*ngFor="let serverElement of serverElements"
			[srvElement]="serverElement"
			>
			<p>
			<strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
			<em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
			</p>

      </app-server-element>

		</div>
  </div>
</div>
  <hr> -->
  <!-- SERVICES -->
<!-- <div class="container">
   <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="col-xs-12">
      <app-new-account></app-new-account>
      <hr>
      <app-account
        *ngFor="let acc of accounts; let i = index"
        [account]="acc"
        [id]="i"></app-account>
    </div>
  </div>
</div>-->
