
<!-- TEMPLATE-DRIVEN FORMS ASSIGNMENT -->
<div>
  <form #f="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
      <label for="email">Email Address:</label>
      <input
      type="email"
      class="form-control"
      name="email"
      ngModel
      required
      email
      #email="ngModel">
    </div>
    <span class="help-block" *ngIf="!email.valid  && email.touched">Please enter a valid email address!</span>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
      type="password"
      class="form-control"
      name="password"
      ngModel
      required
      #password="ngModel">
    </div>
    <span class="help-block" *ngIf="!password.valid  && password.touched">Please enter a password!</span>
    <div class="form-group">
      <label for="subscription">Subscription Level:</label>
      <select
      class="form-control"
      [ngModel]="defaultSub"
      name="subscription"
      id="subscription"
      required
      #subscription="ngModel">
        <option *ngFor="let subscription of subscriptions" [value]="subscription">{{ subscription }}</option>
        <!-- <option value="basic">Basic</option>
        <option value="advanced">Advanced</option>
        <option value="pro">Pro</option> -->
    </select>
    </div>
    <p *ngIf="!f.valid && f.touched"></p>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!f.valid">Submit</button>
  </form>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your info dude...</h3>
      <p>Email: {{ dude.email }}</p>
      <p>Password: {{ dude.password }}</p>
      <p>Subscription: {{ dude.subscription }}</p>
    </div>
  </div>
</div>


<!-- TEMPLATE-DRIVEN FORMS SECTION CODE -->

<!--
<div class="col-xs-12 col-sm-10 col-md-8">
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div
    id="user-data"
    ngModelGroup="userData"
    #userData="ngModelGroup">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          class="form-control"
          ngModel
          name="username"
          required>
      </div>
      <button
      class="btn btn-default"
      type="button"
      (click)="suggestUserName()">Suggest a Username</button>
      <div class="form-group">
        <label for="email">Mail</label>
        <input
        type="email"
        id="email"
        class="form-control"
        ngModel
        name="email"
        required
        email
        #email="ngModel">
      </div>
      <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email address!</span>
    </div>
    <p class='help-block' *ngIf="!userData.valid && userData.touched">User Data Sucks Man!!</p>
    <div class="form-group">
      <label for="secret">Secret Questions</label>
      <select
      id="secret"
      class="form-control"
      [ngModel]="defaultQuestion"
      name="secret"
      required>
        <option value="pet">Your first Pet?</option>
        <option value="teacher">Your first teacher?</option>
      </select>
    </div>
    <div class="form-group">
      <textarea
      class="form-control"
      name="questionAnswer"
      rows="3"
      [(ngModel)]="answer"></textarea>
    </div>
    <p>Your answer: {{ answer }}</p>
    <div class="radio" *ngFor="let gender of genders">
      <label>
        <input
        type="radio"
        name="gender"
        [ngModel]="genders[1]"
        [value]="gender">
        {{ gender }}
      </label>
    </div>
	<button
	class="btn btn-primary"
	type="submit"
	[disabled]="!myForm.valid">Submit</button>
  </form>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your info dude...</h3>
      <p>Username: {{ user.username }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Secret question: Your first {{ user.secretQuestion }}</p>
      <p>Answer: {{ user.answer }}</p>
      <p>Gender: {{ user.gender }}</p>
    </div>
  </div>
</div>

 -->
