<div class="container" 
	fxLayout="column"
	fxLayoutGap="1rem"
	>
	<!-- fxLayoutAlign.gt-lg="space-between"
	fxLayoutAlign.md="center center"
	fxLayoutAlign.lt-sm="end end" -->

	<div class="header">
		
	</div>
	<div class="main" fxLayout="row" fxLayout.lt-md="column">
		<div class="leftside" fxFlex="20%" fxLayout="column">
			<div>
				<ul class="side-menu">
					<li class="side-menu-item">Menu 1</li>
					<li class="side-menu-item">Menu 2</li>
					<li class="side-menu-item">Menu 3</li>
					<li class="side-menu-item">Menu 4</li>
					<li class="side-menu-item">Menu 5</li>
				</ul>
			</div>
			<div class="side-info"
				 fxFlex="100%">
			</div>
		</div>
		<div class="body" fxFlex="80%" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start">
			<div class="body--top" fxFlex="20">

			</div>
			<div class="body--center" fxFlex="1 1 50">

			</div>
			<div class="body--bottom" >

			</div>
			
		</div>

	</div>
	<div class="footer">

	</div>
	
</div>
